/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

.nav-links {
  display: flex;
}

/* mobile nav */
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav-links.open {
    display: block;
  }
}
